/* Global definitions */
:root {
    --glow-radius: 8px;
    --glow-opacity: 0.25;
    --blur-header: 8px;
    --height-header: 72px;
    --height-footer: 100px;
    --height-img-mishy: 788px;
    --width-page-max: 900px;
    --width-page-min: 200px;
    --width-banners: 1000px;
    --color-background-header: rgba(255, 255, 255, 0.5);
    --color-background-footer: black;
    --color-background-main: rgba(245, 245, 245, 1.0);
    --color-background-hover: rgba(180, 180, 180, 0.2);
    --color-background-table-1: rgba(255, 255, 255, 0.6);
    --color-background-table-2: rgba(255, 255, 255, 0.2);
    --color-background-table-border: rgba(255, 255, 255, 0.4);
    --color-background-grid: rgba(255, 255, 255, 0.3);
    --color-box-shadow: white;
    --color-text-main: black;
    --color-text-secondary: black;
    --color-text-blog-month: rgba(0, 0, 0, 0.75);
    --color-text-footer: white;
    --color-text-link: rgb(116, 167, 255);
    --color-title: rgba(10, 180, 255, 1);
    --color-blue: rgba(10, 80, 200, 1);
    --color-blue-50: rgba(10, 80, 200, 0.5);
    --color-blue-25: rgba(10, 80, 200, 0.25);
    --color-silk-border: rgba(105, 105, 105, 0.5);
    --color-silk-background: rgba(5, 5, 5, 0.25);
    --color-silk-link-border: rgba(205, 205, 205, 0.25);
    --color-silk-link-background: rgba(205, 205, 205, 0.5);
    --color-silk-link-border-hover: rgba(205, 205, 205, 0.5);
    --color-silk-link-background-hover: rgba(205, 205, 205, 0.75);
    --color-text-inactive-page: rgba(0, 0, 0, 0.2);
    --color-text-active-page: rgba(10, 10, 10, 0.8);
    --color-photo-background: rgba(0, 0, 0, 0.4);
    --color-photo-exit: black;
    --color-photo-button-bg: rgba(255, 255, 255, 0.8);
    --color-photo-button-bg-hover: rgba(240, 240, 240, 0.9);
    --color-photo-button-border: white;
    --color-photo-button-shadow: rgba(255, 255, 255, 0.8);
    --color-photo-button-shadow-radius: 16px;}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    html[data-theme="dark"] {
        --color-background-header: rgba(0, 0, 0, 0.5);
        --color-background-footer: white;
        --color-background-main: rgba(10, 10, 10, 1.0);
        --color-background-hover: rgba(80, 80, 80, 0.2);
        --color-background-table-1: rgba(0, 0, 0, 0.6);
        --color-background-table-2: rgba(0, 0, 0, 0.2);
        --color-background-table-border: rgba(0, 0, 0, 0.4);
        --color-background-grid: rgba(0, 0, 0, 0.3);
        --color-box-shadow: black;
        --color-text-main: white;
        --color-text-secondary: white;
        --color-text-blog-month: rgba(255, 255, 255, 0.75);
        --color-text-footer: black;
        --color-silk-border: rgba(150, 150, 150, 0.5);
        --color-silk-background: rgba(250, 250, 250, 0.25);
        --color-silk-link-border: rgba(50, 50, 50, 0.25);
        --color-silk-link-background: rgba(50, 50, 50, 0.5);
        --color-silk-link-border-hover: rgba(50, 50, 50, 0.5);
        --color-silk-link-background-hover: rgba(50, 50, 50, 0.75);
        --color-text-inactive-page: rgba(255, 255, 255, 0.2);
        --color-text-active-page: rgba(245, 245, 245, 0.8);
        --color-photo-exit: white;
        --color-photo-button-bg: rgba(0, 0, 0, 0.8);
        --color-photo-button-bg-hover: rgba(15, 15, 15, 0.9);
        --color-photo-button-border: black;
        --color-photo-button-shadow: rgba(0, 0, 0, 0.8);
    }

    [data-theme="dark"] header img.logo-dark {
        display: inline;
    }
}

/* Light mode */
[data-theme="light"] header img.logo {
    display: inline;
}
[data-theme="light"] div.giscus {
    filter: invert(1) saturate(1) hue-rotate(-180deg);
}

/* Universal */
* {
    box-sizing: border-box;
    margin: 0;
}

/* Body, Section styling */
body {
    padding: 0;
    margin: 0;
    background-color: var(--color-background-main);
    color: var(--color-text-main);
    font-size: 18px;
    transition: background-color 1.0s cubic-bezier(0, 0, 0, 1), color 1.0s cubic-bezier(0, 0, 0, 1);
}
body.error {
    overflow: hidden;
}
section {
    padding-bottom: 2em;
    /* text-align: center;
    overflow: hidden; */
}
section a {
    color: var(--color-text-main);
    transition: color 1.0s cubic-bezier(0, 0, 0, 1);
}

/* Main/Article styling */
main {
    background-color: var(--color-background-main);
    top: 0;
    margin: calc((var(--height-header)/2) + var(--height-header)) auto 0 auto;
    min-width: var(--width-page-min);
    box-shadow: 0 0 48px var(--color-box-shadow);
    clip-path: inset(0 0 calc(var(--height-footer)*-1) 0);
    -webkit-clip-path: inset(0 0 calc(var(--height-footer)*-1) 0);
    transition: padding 0.5s ease, box-shadow 1.0s cubic-bezier(0, 0, 0, 1), background-color 1.0s cubic-bezier(0, 0, 0, 1);
}
main.error {
    background-image: linear-gradient(0deg, rgba(10, 10, 10, 0.75) 0%, var(--color-background-main) 100%), url("../img/background-looping.gif");
}
article {
    max-width: var(--width-page-max);
    margin: auto;
    padding: 0 1em;
    transition: all 0.5s ease;
}

/* Font Awesome styling */
i[class^="fa-"] {
    color: var(--color-text-main);
}

/* Text syling */
main p {
    margin: 18px 0;
}
p.title {
    display: inline;
    color: var(--color-title);
}

/* Mishy styling */
div.mishy-container {
    /* float: right; */
    margin: 20px 0 20px 10px;
    overflow: hidden;
    height: var(--height-img-mishy);
    transition: all 0.5s ease;
}
img.mishy {
    max-width: 100%;
}
img.mishy-logo {
    max-width: 100%;
    padding-bottom: 2em;
}
img.mishy-logo:hover {
    animation: wiggle 3.0s ease-in-out;
    animation-iteration-count: infinite;
}
div#mishy-credits {
    text-align: center;
}

/* Button styling */
button.silk {
    background-color: var(--color-silk-background);
    border: var(--color-silk-border) 1px solid;
    border-radius: 25%;
    color: var(--color-text-main);
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 12px;
    margin: 12px;
    width: 32px;
    height: 32px;
    text-align: center;
    transition: background-color 0.5s cubic-bezier(0, 0, 0, 1), border 0.5s cubic-bezier(0, 0, 0, 1), color 0.5s ease;
}

/* Section Notification */
section.notification {
    background-color: var(--color-silk-link-background);
    padding: 0.25em 0 !important;
}
section.notification p {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Link styling */
a.silk-link {
    background-color: var(--color-silk-link-background);
    border: var(--color-silk-link-border) 1px solid;
    border-radius: 10px;
    color: var(--color-text-blog-month);
    display: inline-block;
    font-size: 16px;
    margin: 2px;
    min-width: 120px;
    max-width: 400px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s cubic-bezier(0, 0, 0, 1), border 0.5s cubic-bezier(0, 0, 0, 1), color 0.5s cubic-bezier(0, 0, 0, 1);
}
a.silk-link:hover, a.silk-link:active {
    background-color: var(--color-silk-link-background-hover);
    border: var(--color-silk-link-border-hover) 1px solid;
    color: var(--color-text-main);
}
a.silk-link i {
    width: 20px;
    height: 20px;
    max-width: 20px;
    max-height: 20px;
    object-position: 0 2px;
    margin-right: 10px;
    transition: color 0.5s cubic-bezier(0, 0, 0, 1);
}
div.silk-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
a#home {
    display: none;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 3em;
}
th:nth-of-type(odd), td:nth-of-type(odd) {
    border-right: 1px solid var(--color-background-table-border);
}
th:nth-of-type(odd), th:nth-of-type(even) {
    padding: 1em;
    background-color: var(--color-background-table-1);
}
td:nth-of-type(even), td:nth-of-type(odd) {
    padding: 0.5em;
    background-color: var(--color-background-table-2);
}
tr:nth-of-type(even) {
    background-color: var(--color-background-table-2);
}

/* IFrame styling */
iframe {
    aspect-ratio: 16 / 9;
    border: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    max-width: var(--width-page-max);
}
div#iframe {
    overflow: hidden;
    border-radius: 30px;
    transition: border-radius 1.0s ease;
}
#ytplayer {
    display: none;
}

/* Lists styling */
ul {
    text-align: left;
}
ol#video-list {
    padding: 0;
    list-style-type: none;
    cursor: pointer;
    text-align: center;
}
#video-list li {
    padding: 0.5em 0;
    overflow: hidden;
    transition: background-color 0.5s ease;
}
#video-list li:hover {
    background-color: var(--color-blue-50);
}

/* Blog styling */
div.post {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0%25' y='0%25' width='100%25' height='100%25' fill='transparent' stroke='rgba(10, 80, 200, 0.75)' stroke-width='1px' stroke-dasharray='8 1 8 1' /%3E%3C/svg%3E");
    border-radius: 22px;
    border: var(--color-blue-50) 1px ;
    display: grid;
    grid-template-columns: 28% 1fr;
    grid-column-gap: 0;
    margin-bottom: 2em;
}
div.post div:not(div#iframe) {
    width: 100%;
    border-radius: 20px;
    border-left: var(--color-background-grid) 1px solid;
    padding: 16px;
    background: #00000000;
    background: linear-gradient(25deg,rgba(0, 0, 0, 0) 0%, var(--color-blue-25) 100%);
    mask-image: linear-gradient(#000, #000);
    background-color: var(--color-background-grid);
    border: var(--color-blue-50) 1px solid;
}
div.post p {
    text-align: center;
}
div.post p:first-child {
    margin: auto;
    padding: 24px 12px;
}
div.post a {
    color: var(--color-text-link);
}

/* Pages/Tile styling */
section.banners {
    align-content: center;
    height: 694px;
    max-height: 694px;
}
div.tile {
    opacity: 0;
    height: 140px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}
a:hover div.tile {
    opacity: 1;
    height: 240px;
    padding-top: 0em;
}
div.tile p {
    transform: scaleY(0.75);
    font-size: 64px;
    filter: drop-shadow(0 0 32px var(--color-blue));
    text-align: center;
    margin: auto;
    line-height: 3.75;
    text-shadow: 0 0 0 var(--color-text-secondary);
    color: var(--color-text-inactive-page);
    transition: transform 0.5s ease, color 0.5s ease, text-shadow 0.5s ease;
}
a:hover div.tile p {
    transform: scaleY(1);
    text-shadow: 0 0 32px var(--color-text-secondary);
    color: var(--color-text-active-page);
}
span.page {
    display: flex;
    justify-content: center;
    align-items: center;
}
span.page a {
    max-width: var(--width-banners);
    display: block;
    width: 100%;
    text-align: left;
    font-size: 36px;
    text-decoration: none;
    line-height: 8em;
    background-size: cover;
    background-position: center;
    -webkit-transition: all 1.0s cubic-bezier(0, 0, 0, 1);
    -moz-transition: all 1.0s cubic-bezier(0, 0, 0, 1);
    -o-transition: all 1.0s cubic-bezier(0, 0, 0, 1);
    transition: all 1.0s cubic-bezier(0, 0, 0, 1);
}

/* Window */
div.window {
    background-color: black;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}
div.window-wrap {
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.window-background {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

/* More page styling */
a.link#theme-toggle {
    cursor: pointer;
}
div.giscus {
    padding-top: 24px;
    transition: filter 1.0s cubic-bezier(0, 0, 0, 1);
}
div#jobs p {
    text-align: left;
    margin: 0;
    padding-bottom: 2em;
}
div#indent {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2px;
}
div#indent h4 {
    font-size: 24px;
    padding-top: 0.5em;
    text-decoration: underline;
    text-align: center;
}
div#indent p {
    margin: 0;
    text-align: center;
}
div#page-subtitle {
    padding-bottom: 1.5em;
}
div.img-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    overflow: hidden;
}
div.img-grid img {
    width: 100%;
    height: 100%;
    transition: transform 1.0s ease;
}
div.img-grid a {
    overflow: hidden;
}
div.img-grid a:hover img {
    transform: scale(1.5);
}
div.img-center {
    display: flex;
    justify-content: center;
}

/* Text header styling */
h1, h2, h3, h4 {
    text-align: left;
}
h2, h3 {
    text-transform: uppercase;
}
h1 {
    float: right;
    line-height: 2em;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-size: 20px;
    font-style: italic;
}
section div:hover h1 {
    opacity: 0.4;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 14px;
}
h4 {
    font-size: 28px;
}
h4.project-title {
    text-align: center;
    padding: 8px 0;
}
h3.blog-month {
    padding-bottom: 24px;
    color: var(--color-text-blog-month);
    font-size: 18px;
    transition: color 1.0s cubic-bezier(0, 0, 0, 1);
}

/* Footer styling */
footer {
    align-items: center;
    background-color: var(--color-background-footer);
    bottom: 0;
    color: var(--color-text-footer);
    display: flex;
    height: var(--height-footer);
    justify-content: center;
    position: sticky;
    text-align: center;
    transition: background-color 1.0s cubic-bezier(0, 0, 0, 1), color 1.0s cubic-bezier(0, 0, 0, 1);
    width: 100%;
    z-index: -1;
}

/* Header styling */
header {
    background-color: var(--color-background-header);
    box-shadow: 0 0 32px var(--color-box-shadow);
    z-index: 1;
    height: var(--height-header);
    line-height: var(--height-header);
    backdrop-filter: blur(var(--blur-header));
    overflow: hidden;
    padding: 0 10%;
    transition: background-color 1.0s cubic-bezier(0, 0, 0, 1), box-shadow 1.0s cubic-bezier(0, 0, 0, 1), padding 0.5s ease;
}
header img.logo, header img.logo-dark {
    display: none;
    cursor: pointer;
    position: absolute;
    text-align: center;
    width: 130px;
    max-width: 130px;
    height: 100%;
    transition: all 1.0s ease;
    transform: rotate(0) scale3d(1, 1, 1);
    opacity: 1;
    visibility: visible;
}
header img.logo:hover, header img.logo-dark:hover {
    transform: rotate(-10deg) scale3d(1.5, 1.5, 1.5);
}
header img.logo:active, header img.logo-dark:active {
    transition: all 0.5s ease;
    transform: rotate(-10deg) scale3d(1.25, 1.25, 1.25);
}
header span.links {
    display: flex;
    justify-content: right;
    align-content: end;
    flex-direction: row;
}
header a.link {
    text-align: center;
    width: var(--height-header);
    height: var(--height-header);
    transition: background-color 0.5s ease;
    overflow: hidden;
    min-width: 40px;
}
header a.link:hover {
    background-color: var(--color-background-hover);
}

/* Text link styling */
a.link {
    color: var(--color-blue);
    text-decoration: none;
}
a.link i[class^="fa-"] {
    color: var(--color-text-main);
    transform: scale(0.6);
    transform-origin: center center;
    transition: transform 0.5s cubic-bezier(0, 0, 0, 1), color 1.0s cubic-bezier(0, 0, 0, 1);
    vertical-align: top;
    text-align: center;
    line-height: 2;
}
a.link:hover i[class^="fa-"] {
    color: var(--color-blue);
    transform: scale(1);
}
a.link:active i[class^="fa-"] {
    color: var(--color-blue-50);
    transform: scale(1.25);
}
a.pilcrow {
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 0 0.5em;
    color: var(--color-text-main);
    text-decoration: none;
    font-size: 14px;
    position: absolute;
}
h3 a.pilcrow {
    font-size: 10px;
}
h2:hover a.pilcrow, h3:hover a.pilcrow {
    opacity: 1;
}

div.photo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-photo-background);
    width: 100%;
    height: 100%;
    padding: 0;
    position: fixed;
    margin: 0;
    top: 0;
    z-index: 4;
}
button.photo-exit {
    background-color: var(--color-photo-button-bg);
    border: var(--color-photo-button-border) 1px solid;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 0;
    margin: 12px;
    width: 64px;
    height: 64px;
    transition: filter 1.0s cubic-bezier(0, 0, 0, 1), background-color 0.5s cubic-bezier(0, 0, 0, 1), border 0.5s cubic-bezier(0, 0, 0, 1), color 0.5s ease;
    z-index: 3;
}
button.photo-exit:hover {
    background-color: var(--color-photo-button-bg-hover);
    filter: drop-shadow(0 0 var(--color-photo-button-shadow-radius) var(--color-photo-button-shadow));
}
button.photo-exit i {
    color: var(--color-photo-exit);
}
div.photo-wrapper img {
    aspect-ratio: 7/6;
    max-width: 100%;
    max-height: 100%;
    image-rendering: pixelated;
    z-index: 2;
}

/* Class styling */
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}
.lowercase {
    text-transform: lowercase;
}
.unselect {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Image styling */
img#screenshot, img#screenshot-mooshapp {
    width: 100%;
    vertical-align: top;
}
img#screenshot-mooshapp {
    display: block;
    margin: auto;
    max-width: 732px;
}
img.inline {
    display: inline-block;
    float: right;
    width: 50%;
    padding: 12px 0 12px 12px;
    margin: 0 auto;
    transition: max-width 0.5s ease;
}

/* Audio controls styling */
audio {
    width: 100%;
}

/* Video controls styling */
video#meta-client {
    display: block;
    margin: 0 auto;
    width: 100%;
    transition: width 1.0s ease;
}

/* Scroll Margin Fix (Header) */
#welcome, a.pilcrow {
    scroll-margin-top: calc((var(--height-header)/2) + var(--height-header));
}

/* Animations (@keyframes) */
@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-1deg); }
    50% { transform: rotate(1deg); }
    75% { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); }
}

/* Screen check adjustments (@media) */
@media only screen and (max-width: 680px) {
    div.img-grid {
        grid-template-columns: auto auto;
    }
    h3.blog-month {
        text-align: center;
    }
    div.tile p {
        font-size: 40px;
        line-height: 6;
    }
    a#home {
        display: block;
    }
    img.inline {
        display: block;
        width: 100%;
        max-width: 50%;
    }
    div.silk-list {
        flex-direction: column;
    }
    div#indent {
        grid-template-columns: auto auto;
    }
    div#indent h4, div#indent p {
        text-align: left;
    }
    header {
        padding: 0;
    }
    body {
        overflow-x: hidden;
    }
    h1 {
        display: none;
    }
    h2 {
        text-align: center;
        overflow: hidden;
    }
    h4 {
        text-indent: 0em;
    }
    header span.links {
        justify-content: center;
        align-content: center;
    }
    header img.logo, header img.logo-dark {
        opacity: 0;
        visibility: hidden;
    }
    div.mishy-container {
        margin: 0 0 20px 0;
        height: 256px;
    }
    ol#blog-list {
        width: 100%;
    }
    video#meta-client {
        width: 88%;
    }
}
@media only screen and (max-width: 440px) {
    a.link i[class^="fa-"] {
        transform: scale(0.6);
    }
    a.link:hover i[class^="fa-"] {
        transform: scale(0.75);
    }
    a.link:active i[class^="fa-"] {
        transform: scale(1);
    }
    div.post {
        grid-template-columns: 100%;
    }
    img.inline {
        width: 100%;
        max-width: 100%;
        padding: 12px 0;
    }
    div#indent {
        grid-template-columns: auto;
        width: 180px;
        margin: 0 auto;
        padding: 0;
    }
    div#indent h4, div#indent p {
        text-align: center;
    }
    div#iframe {
        border-radius: 15px;
    }
}